/* ================== Google fonts ====================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* *================== Basic style ====================== */

:root {
  --bgColor: #ffffff;
  --primaryColor: #609b6c;
  --secondaryColor: #bde1b1;
  --textColor: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  color: var(--textColor);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--primaryColor);
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
}

ul {
  list-style: none;
  margin: 0;
}

br {
  color: var(--hoverColor3);
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

img {
  outline: none;
}

.screen {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }
  hr {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }
}

/* * -------------------- animation style --------------------  */

/*
 * ----------------------------------------
 *  scale-in-left
 * ----------------------------------------
 */
.scale-in-left {
  -webkit-animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

/*
 * ----------------------------------------
 *  rotate-in-center
 * ----------------------------------------
 */
.rotate-in-center {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
